@import "mixins/breakpoint";

.notFound {
    width: 100%;
    padding: 10px 0 20px 0;
    justify-content: space-between;
    align-items: center;

    @media (max-height: 650px) {
        height: calc(100vh - 193px);
    }

    @include breakpoint(sm-max) {
        flex-direction: column-reverse;
        height: calc(100vh - 127px);
        padding-bottom: 30px;
        justify-content: center;
    }
}

.left {
    min-width: 450px;
    margin-right: 50px;

    @include breakpoint(md-max) {
        min-width: 350px;
    }

    @include breakpoint(sm-max) {
        margin-right: 0;
        width: 100%;
        min-width: min-content;
    }
}

.title {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    color: var(--color-mine-shaft-or-white);
    margin-bottom: 15px;

    @include breakpoint(lg-max) {
        font-size: 32px;
    }

    @include breakpoint(sm-max) {
        text-align: center;
        margin-bottom: 20px;
        font-weight: 900;
        font-size: 24px;
        line-height: 100%;
    }
}

.text {
    font-size: 24px;
    line-height: 100%;
    color: var(--color-mine-shaft-or-white);
    margin-bottom: 30px;

    @include breakpoint(lg-max) {
        font-size: 18px;
    }

    @include breakpoint(sm-max) {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 150%;
        max-width: 250px;
    }
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 50px;
    background-color: var(--color-emerald);
    border-radius: 10px;
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--color-white);

    @include breakpoint(sm-max) {
        margin: 0 auto;
    }
}

.img {
    width: 500px;

    @media (max-height: 650px) {
        width: auto;
        height: 100%;
    }

    @include breakpoint(sm-max) {
        width: 100%;
        margin-bottom: 25px;
        max-width: 380px;
    }
}