@import "../../../../assets/scss/mixins/breakpoint";

.empty {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
}

.img {
    width: 215px;
    height: 205px;
    margin-bottom: 25px;
}

.title {
    max-width: 380px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--color-black-or-white);
    margin-bottom: 15px;

    @include breakpoint(sm-max) {
        font-size: 20px;
        line-height: 24px;
    }
}

.text {
    max-width: 280px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--color-mine-shaft-or-white);

    @include breakpoint(sm-max) {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
    }

    a {
        color: var(--color-emerald);
    }
}