@import "../../assets/scss/mixins/breakpoint";


.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    //z-index: 10000;
}

.back {
    font-size: 14px;
    line-height: 100%;
    color: var(--color-mine-shaft-or-white);
    padding-right: 46px;
    position: relative;

    &::before {
        content: "";
        width: 36px;
        height: 36px;
        background-color: var(--color-emerald);
        background-image: url("../../assets/img/close-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        fill: #fff;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
    }
}

.top {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    @include breakpoint(sm-max) {
        padding: 15px 0;
    }
}

.left {
    display: flex;
    align-items: center;
    width: 100%;
}

.searchBg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(48, 48, 48, 0.4);
    width: 100%;
    height: calc(100vh - 97px);
    z-index: 3000;
    display: none;
}

.searchBg_active {
    display: flex;
}

.links {
    display: flex;

    @include breakpoint(sm-max) {
        display: none;
    }
}

.link {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__notify {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -5px;
        right: 0;
        width: 16px;
        height: 16px;
        background-color: var(--color-coral-red);
        border-radius: 50%;
        font-size: 10px;
        font-weight: 400;
        text-align: center;
        color: var(--color-white);
    }

    &:hover {
        .link__title {
            color: #1266dc;
        }

        .link__icon {
            fill: #1266dc;
        }
    }

    &__title {
        font-size: 14px;
        transition: all .1s;
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin-bottom: 2px;
        fill: #292D32;
        transition: all .1s;
    }
}


.headerSearch_hidden {
    width: 100%;

    @include breakpoint(md-max) {
        display: none;
    }
}

.bottom {
    width: 100%;
    margin-bottom: 20px;

    @include breakpoint(lg) {
        display: none;
    }

    @include breakpoint(sm-max) {
        display: none;
    }
}

.searchButton {
    padding: 0;
    border: none;
    background: none;
    transition: all .1s;

    &:hover {
        svg {
            fill: #1266dc;
        }
    }

    svg {
        width: 20px;
        height: 20px;
        fill: #262626;
    }

    @include breakpoint(md) {
        display: none;
    }
}