@import "../../../assets/scss/mixins/breakpoint";

.counter {
    width: 128px;
    height: 40px;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    @include breakpoint(sm-max) {
        width: 78px;
        height: 30px;
        border-radius: 5px;
    }

    &__minus {
        width: calc(100% / 3);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        padding: 0;

        svg {
            width: 24px;
            height: 24px;
            fill: var(--color-accent);

            @include breakpoint(sm-max) {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__input {
        width: calc(100% / 3);
        height: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 20px;
        line-height: 24px;
        background-color: transparent;

        @include breakpoint(sm-max) {
            font-size: 16px;
        }
    }

    &__plus {
        width: calc(100% / 3);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        padding: 0;

        svg {
            width: 24px;
            height: 24px;
            fill: var(--color-accent);

            @include breakpoint(sm-max) {
                width: 16px;
                height: 16px;
            }
        }
    }
}