@import "../../../../assets/scss/mixins/breakpoint";

.slide {
    display: flex;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(115, 121, 140, 0.15);
    height: 100%;

    @include breakpoint(sm-max) {
        flex-direction: column;
        height: 100%;
    }

    &__usp {
        //background-color: var(--color-emerald);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 380px;
        padding: 50px 8px 50px 30px;

        @include breakpoint(lg-max) {
            flex-direction: column;
            width: 35%;
            min-width: 35%;
        }

        @include breakpoint(md-max) {
            flex-direction: column;
            padding: 40px 20px;
        }

        @include breakpoint(sm-max) {
            flex-direction: column;
            width: calc(100% - 15px);
            max-width: 100%;
            height: 100%;
            max-height: 50%;
            padding: 15px;
        }
    }

    &__uspInner {
        width: 100%;
    }

    &__title {
        font-weight: 900;
        width: 100%;
        color: var(--color-white);
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 20px;

        @include breakpoint(md-max) {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 10px;
        }

        @include breakpoint(sm-max) {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 10px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.75);

        @include breakpoint(md-max) {
            font-size: 16px;
        }

        @include breakpoint(sm-max) {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: var(--color-white);
        }
    }

    &__link {
        max-width: fit-content;
        padding: 16px 40px;
        border: 1px solid var(--color-white);
        border-radius: 10px;
        color: var(--color-white);
        text-decoration: none;
        margin-left: 10px;
        display: flex;

        @include breakpoint(sm-max) {
            display: none;
        }
    }

    &__img {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 800px;

        @include breakpoint(lg-max) {
            min-width: 65%;
            width: 65%;
        }

        @include breakpoint(sm-max) {
            width: 100%;
            height: 100%;
            max-height: 50%;
            padding: 15px;
        }
    }
}
