@import "../../assets/scss/mixins/breakpoint";

.checkboxItem {
    max-width: fit-content;
    display: flex;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
    user-select: none;

    &__input {
        display: none;

        &:checked + .checkbox::after {
            opacity: 1;
        }

        &:checked + .checkbox {
            background-color: var(--color-accent);
        }
    }

    &__title {
        font-size: 16px;
        line-height: 22px;
        margin-left: 5px;
    }

    &__title_form {
        font-family: "Museo Sans Cyrl", sans-serif;
        font-weight: 300;
        font-size: 12px;
        line-height: 100%;
        margin-bottom: 0;
        margin-top: 4px;
    }

    .checkbox {
        width: 18px;
        height: 18px;
        background-color: var(--color-white-lilac-or-tundora);
        border-radius: 5px;
        position: relative;
        //padding-right: 20px;

        &::after {
            content: "";
            width: 14px;
            height: 14px;
            background-image: url("../../assets/img/check-icon.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    }
}
