@import "../../assets/scss/mixins/breakpoint";

.profile {
    min-width: 100%;
    width: 100%;

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        margin-bottom: 30px;
    }

    &__inputs {
        display: grid;

        @include breakpoint(sm-max) {
            width: 100%;
            grid-row-gap: 15px;
        }

        @include breakpoint(md) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 20px;
        }

        @include breakpoint(lg) {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 20px;
            grid-column-gap: 30px;
        }
    }

    &__input {
        width: 100%;
    }

    &__btn {
        margin-top: 30px;
        width: 278px;
        height: 50px;
        background: none;
        border: 2px solid var(--color-emerald);
        border-radius: 10px;
        font-size: 18px;
        line-height: 100%;
        color: var(--color-emerald);

        @include breakpoint(sm-max) {
            width: 100%;
        }
    }
}