@import "../../../assets/scss/mixins/breakpoint";

.item {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white-lilac-or-tundora);
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 10px;

    &:hover {
        .arrow {
            transform: rotate(-180deg) translateX(-2px);
        }
    }
}

.role {
    text-transform: uppercase;
    margin-right: 5px;
}

.right {
    display: flex;
    align-items: center;
}

.arrow {
    fill: var(--color-mine-shaft-or-white);
    transform: rotate(-180deg);
    transition: 300ms;
}.link {
     cursor: pointer;
     width: 22px;
     height: 22px;
     margin-left: 10px;

     > svg {
         fill: var(--color-silver-chalice);
     }

     &:hover > svg {
         fill: var(--color-mine-shaft-or-white);
     }
 }

.btn {
    width: 22px;
    height: 22px;
    padding: 0;
    border: none;
    background: none;
    margin-left: 10px;

    > svg {
        fill: var(--color-silver-chalice);
    }

    &:hover > svg {
        fill: var(--color-mine-shaft-or-white);
    }
}