@import "../../assets/scss/mixins/breakpoint";


.dark {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 20px;

    .st0 {
        fill: none;
    }

    .st1 {
        fill: none;
        stroke: var(--color-mine-shaft-or-white);
        stroke-width: 100;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
}

.light {
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 20px;

    svg {
        fill: var(--color-mine-shaft-or-white);
        transition: none !important;
    }
}