@import "../../../assets/scss/mixins/breakpoint";


.logo {
    cursor: pointer;

    img {
        width: 99px;
        height: 42px;
    }
}

.logoMobile {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
        width: 85px;
        height: 35px;
    }

    @media (max-width: $screen-xs-max) {
        display: flex;
    }
}

.back {
    font-size: 14px;
    line-height: 100%;
    color: var(--color-mine-shaft-or-white);
    padding-right: 46px;
    position: relative;

    &::before {
        content: "";
        width: 36px;
        height: 36px;
        background-color: var(--color-emerald);
        background-image: url("../../../assets/img/close-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        fill: #fff;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
    }
}

.top {
    width: 100%;
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-gallery-or-tundora);
    position: relative;
    z-index: 1;

    @media (max-width: $screen-xs-max) {
        height: 64px;
    }
}

.left {
    display: flex;
    align-items: center;

    @media (max-width: $screen-xs-max) {
        display: none;
    }

    @media (min-width: $screen-sm) {
        display: flex;
    }
}

.top_sm {
    border: none;
    height: 82px;
}

.phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 51px; ///
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-black-or-white);

    span {
        margin-bottom: 4px;
        font-family: "Museo Sans Cyrl", sans-serif;
        font-size: 14px;
        line-height: 17px;
        color: var(--color-wistful-or-dove-gray);
    }

    @media (min-width: $screen-sm) {
        margin-left: 20px;
        font-size: 14px;
        line-height: 17px;

        span {
            font-size: 10px;
            line-height: 12px;
            margin-bottom: 0;
        }
    }
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include breakpoint(sm-max) {
        display: none;
    }
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $screen-xs-max) {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.loginMobile {
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
    line-height: 100%;
    text-align: right;
    position: relative;
    color: var(--color-wistful-or-dove-gray);
    padding-right: 20px;
    margin-top: 35px;

    img {
        width: 16px;
        height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 19vw;
    }

    @media (max-width: $screen-xs-max) {
        display: flex;
    }
}

.login {
    margin-left: 50px;
    padding: 8px 19px;
    border: 1px solid var(--color-wistful-or-dove-gray);
    border-radius: 21px;
    background: none;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-black-or-white);
    cursor: pointer;
    outline: none;
    text-decoration: none;

    @media (max-width: $screen-xs-max) {
        display: none;
    }
}

.dark {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 20px;

    .st0 {
        fill: none;
    }

    .st1 {
        fill: none;
        stroke: var(--color-mine-shaft-or-white);
        stroke-width: 100;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
}

.light {
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 20px;

    svg {
        fill: var(--color-mine-shaft-or-white);
        transition: none !important;
    }
}