.btn {
	width: 22px;
	height: 22px;
	padding: 0;
	border: none;
	background: none;
	margin-left: 10px;

	> svg {
		fill: var(--color-silver-chalice);
	}

	&:hover > svg {
		fill: var(--color-mine-shaft-or-white);
	}
}
