@import "../../../assets/scss/mixins/breakpoint";


.historyDetailInfo {
    width: 100%;
    max-width: 350px;
    margin-right: 40px;

    @include breakpoint(lg-max) {
        min-width: 280px;
    }

    @include breakpoint(md-max) {
        max-width: 100%;
        margin-bottom: 60px;
        margin-right: 0;
        min-width: fit-content;
    }
}

.link {
    cursor: pointer;
    display: inline-flex;
    padding-left: 19px;
    position: relative;
    font-size: 14px;
    line-height: 100%;
    color: var(--color-emerald);
    margin-bottom: 23px;

    &:hover {
        svg {
            transform: translateX(-5px);
        }
    }

    svg {
        fill: var(--color-emerald);
        position: absolute;
        left: 0;
        transition: 0.3s;
    }
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}

.title {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: var(--color-emerald);
    margin-bottom: 15px;
}

.list {
    margin-bottom: 40px;

    .info {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    hr {
        margin-bottom: 15px;
        border-radius: 10px;
        height: 1px;
        background-color: var(--color-gallery-or-tundora);
        border: none;
    }
}

.list_justify {
    .info {
        justify-content: space-between;
    }
}

.btn {
    display: block;
    margin-top: -15px;
    width: 100%;
    height: 50px;
    background-color: var(--color-emerald);
    border-radius: 10px;
    border: none;
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-white);
    transition: 0.5s;

    &:hover {
        background-color: var(--color-emerald-hover);
    }

    &:active {
        background-color: var(--color-emerald-pressed);
    }
}

.info {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    display: flex;

    @include breakpoint(md-max) {
        justify-content: space-between;
    }

    span {
        font-family: "Museo Sans Cyrl", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        color: var(--color-raven-or-dove-gray);
        margin-right: 5px;
    }
}

.status {
    user-select: none;
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: var(--color-white);
    padding: 4px 6px;
    border-radius: 5px;
}

.status_active {
    user-select: none;
    background-color: var(--color-emerald);
}

.status_inactive {
    user-select: none;
    background-color: var(--color-golden-tainoi);
}