@import "../../assets/scss/mixins/breakpoint";

.admin {
    //padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    //padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 900;
    font-size: 28px;
    margin-bottom: 20px;
}