@import "../../../assets/scss/mixins/breakpoint";


.accountSidebar {
    min-width: 280px;
    margin-right: 50px;

    @include breakpoint(sm-max) {
        margin: auto;
        width: 100%;
        min-width: fit-content;
    }
}

.nav {
    display: flex;
    flex-direction: column;

    @include breakpoint(sm-max) {
        display: none;
    }

    &__link {
        margin-bottom: 20px;
        padding-left: 25px;
        font-size: 18px;
        line-height: 100%;
        position: relative;
        max-width: fit-content;
        color: var(--color-mine-shaft-or-white);

        &:last-child {
            margin-bottom: 0;
        }

        svg {
            width: 18px;
            height: 18px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            fill: var(--color-mine-shaft-or-white);
        }
    }

    &__link_active {
        color: var(--color-accent);
        cursor: default;

        svg {
            fill: var(--color-accent);
        }
    }
}