@import "../../../assets/scss/mixins/breakpoint";


.accordeon {
    width: 100%;
    border-bottom: 2px solid var(--color-border);
    padding-bottom: 25px;
    margin-bottom: 25px;

    @include breakpoint(sm-max) {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

.accordeon[open] {
    .icon {
        transform: rotate(180deg);
    }
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    outline: 0;

    &::-webkit-details-marker {
        display: none;
    }
}

.title {
    font-size: 20px;
    line-height: 100%;
    color: var(--color-mine-shaft-or-white);
    display: flex;
    width: calc(100% - 40px);

    @include breakpoint(sm-max) {
        font-size: 14px;
        line-height: 120%;
    }
}

.icon {
    width: 20px;
    height: 20px;
    fill: var(--color-emerald);
}

.content {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 16px;
    line-height: 150%;

    @include breakpoint(sm-max) {
        margin-left: 10px;
        margin-top: 15px;
        font-size: 12px;
        line-height: 150%;
    }

    b {
        font-weight: 900;
    }
}