@import "../../assets/scss/mixins/breakpoint";


.recaptha {
    width: 380px;
    height: 102px;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px 0 20px 0;
}
