@import "../../../../assets/scss/mixins/breakpoint";


.filter {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.filter__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    width: 100%;
}