@import "../../assets/scss/mixins/breakpoint";


.account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0 100px 0;

    @include breakpoint(sm-max) {
        flex-direction: column;
        padding: 30px 0 150px 0;
    }
}

.title {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 30px;

    @include breakpoint(sm-max) {
        display: none;
    }
}

.title_mob {
    display: none;

    @include breakpoint(sm-max) {
        display: block;
        font-weight: 700;
        font-size: 24px;
        width: 100%;
        text-align: center;
        color: var(--color-mine-shaft-or-white);
        margin-bottom: 30px;
    }
}

.right {
    width: 100%;
    max-width: 850px;
}

.title_mobile {
    display: none;
    font-family: "Museo Sans Cyrl";
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 30px;
    color: var(--color-mine-shaft);

    @include breakpoint(sm-max) {
        display: block;
        font-size: 24px;
        width: 100%;
        text-align: center;
        color: var(--color-black);
    }
}