@import "../../assets/scss/mixins/breakpoint";


.account {
    display: flex;
    padding-top: 10px;
    padding-bottom: 100px;

    @include breakpoint(sm-max) {
        flex-direction: column;
        padding: 20px 0;
    }
}

.title {
    display: flex;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 30px;

    @include breakpoint(sm-max) {
        font-size: 20px;
        width: 100%;
        //text-align: center;
        color: var(--color-mine-shaft-or-white);
    }
}

.title_mob {
    display: none;

    @include breakpoint(sm-max) {
        display: block;
        font-weight: 700;
        font-size: 24px;
        width: 100%;
        text-align: center;
        color: var(--color-mine-shaft-or-white);
        margin-bottom: 30px;
    }
}

.right {
    width: 100%;
}

.title_mobile {
    display: none;
    font-family: "Museo Sans Cyrl";
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 30px;
    color: var(--color-mine-shaft);

    @include breakpoint(sm-max) {
        display: block;
        font-size: 24px;
        width: 100%;
        text-align: center;
        color: var(--color-black);
    }
}